.Recipe-header {
  align-items: center;
  display: flex;
  flex-flow: row nowrap;
}
.Recipe-header > .VerifiedBadge {
  margin-left: 8px;
}
.Recipe-header > .VerifiedBadge > svg {
  height: 12px;
  width: 12px;
}
.Recipe-subtitle {
  color: #27ae60;
  font-size: 12px;
  margin-top: -1.6em;
}
.Recipe-ingredient--selected {
  color: #27ae60;
}
