.ActiveFilters {
  align-items: flex-start;
  display: flex;
  flex-flow: row wrap;
  margin-bottom: 20px;
}
.ActiveFilters-numResults {
  flex-shrink: 0;
  font-size: 14px;
  font-weight: 500;
  margin: 0 20px 10px 0;
  padding: 1px 0 0;
  width: 100%;
}
.ActiveFilters-list {
  display: flex;
  flex-flow: row wrap;
  list-style-type: none;
  padding: 0;
  margin: 0;
}
.ActiveFilters-listItem {
  margin: 0 10px 10px 0;
}

@media (min-width: 1024px) {
  .ActiveFilters {
    flex-flow: row nowrap;
  }
  .ActiveFilters-numResults {
    margin-bottom: 0;
    width: auto;
  }
}
