@font-face {
  font-family: 'Merriweather Light Italic';
  src: url('./fonts/merriweather-lightitalic-webfont.woff2') format('woff2'),
       url('./fonts/merriweather-lightitalic-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

body {
  color: #33333f;
  font-family: 'Hind', sans-serif;
}
* {
  box-sizing: border-box;
}

/* https://mycolor.space/?hex=%23FEF0BF&sub=1 */

.BrowseLayout {
  display: flex;
  flex-flow: column nowrap;
  margin-top: 30px;
  padding: 20px;
}
.FilterPane {
  flex-shrink: 0;
}

@media (min-width: 1024px) {
  .BrowseLayout {
    flex-flow: row nowrap;
    margin-top: 50px;
    padding: 20px 60px 60px;
  }
  .FilterPane {
    border-right: 2px solid #5C8E89;
    padding-right: 58px;
    width: 320px;
  }
  .ResultsPane {
    padding-left: 60px;
  }
}
