body {
  color: #33333f;
  font-family: 'Hind', sans-serif;
}
* {
  box-sizing: border-box;
}

/* https://mycolor.space/?hex=%23FEF0BF&sub=1 */

.BrowseLayout {
  display: flex;
  flex-flow: row nowrap;
  padding: 60px;
}
.FilterPane {
  border-right: 2px solid #5C8E89;
  flex-shrink: 0;
  padding-right: 60px;
  width: 320px;
}
.ResultsPane {
  padding-left: 60px;
}
