@font-face {
  font-family: 'Merriweather Light Italic';
  src: url('./fonts/merriweather-lightitalic-webfont.woff2') format('woff2'),
       url('./fonts/merriweather-lightitalic-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

body {
  color: #33333f;
  font-family: 'Hind', sans-serif;
}
* {
  box-sizing: border-box;
}

/* https://mycolor.space/?hex=%23FEF0BF&sub=1 */

.App-container {
  text-align: center;
}
.App {
  margin-top: 50px;
  padding: 15px;
  text-align: left;
}
.App-focusedContent {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
}

@media (min-width: 640px) {
  .App {
    padding: 20px;
  }
}
