.CategoryPicker-title {
  font-size: 14px;
  font-weight: 500;
  margin-bottom: 0;
}
.CategoryPicker-list {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  list-style-type: none;
  margin-bottom: 20px;
  margin-top: 0;
  padding: 0;
}
.CategoryPicker-listItem {
  margin-bottom: 10px;
  width: 31%;
}
.CategoryPicker-listItem .MuiButton-label {
  text-transform: lowercase;
}
.CategoryPicker-list + .CategoryPicker-title {
  border-top: 1px solid rgba(0, 0, 0, 0.23);
  margin-top: 20px;
  padding-top: 14px;
}
.CategoryPicker-toggle {
  background-color: none;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  border: 0;
  border-radius: 8px;
  box-shadow: 0 0 0 1px #5C8E89;
  cursor: pointer;
  font-size: 16px;
  font-family: inherit;
  font-weight: 500;
  height: 40px;
  position: relative;
  transition: color 150ms, background-color 150ms;
  padding: 1px 6px 0;
  width: 100%;
}
.CategoryPicker-toggle::before {
  background-color: #fff;
  border-radius: 8px;
  bottom: 0;
  content: '';
  left: 0;
  opacity: 0.8;
  position: absolute;
  right: 0;
  top: 0;
}
.CategoryPicker-toggle:active {
  background-color: #3F6B74;
  color: #fff;
}
.CategoryPicker-toggle:focus {
  box-shadow: 0 0 0 1px #BED2A8;
  outline: none;
}
.CategoryPicker-toggle--selected {
  background-color: #5C8E89;
  box-shadow: 0 0 0 2px #5C8E89;
  color: #fff;
  font-weight: 500;
}
.CategoryPicker-toggle--selected:focus {
  box-shadow: 0 0 0 2px #BED2A8;
}
.CategoryPicker-toggle--selected::before {
  background-color: #5C8E89;
  opacity: 0.8;
}
.CategoryPicker-toggleLabel {
  position: relative;
  z-index: 5;
}

@media (min-width: 768px) {

}